<h1>Recommended Searches</h1>

<div class="row">
  <div class="large-8 large-centered columns">
    <span class="rec-search">
      <%= form_tag(recommendations_path, method: "get") do %>
        <%= text_field_tag :user_search, params[:user_search], placeholder: "Search Suggestions" %>
        <%= select_tag :trend_or_location, options_for_select([nil, 'Trend', 'Location']) %>
        <%= select_tag :category, options_for_select([nil, 'General', 'Politics and Religion', 'Business and Economics', 'Science and Technology', 'Sports and Entertainment']) %>
        <%= submit_tag "Search", name: nil, class: "button" %>
      <% end %>
    </span>
  </div>
</div>

<% @recommendations.each do |r| %>
  <div class="row panel">

    <ul class="vote">
          <li>
            <%= link_to '▲', '#', class: "upvote-rec",
              recommendation: r.id,
              rating: r.score %>
          </li>
          <li class="update-rating-<%= r.id %>"><%= r.score %></li>
          <li>
            <%= link_to '▼', '#', class: "downvote-rec",
              recommendation: r.id,
              rating: r.score %>
          </li>
        </ul>

    <%= link_to r.query, results_path(search: r.query) if r.trend_or_location == "Trend" %>
    <%= link_to r.query, results_path(location: r.query) if r.trend_or_location == "Location" %>
    Submitted by <%= r.user.username %>
    <%= r.trend_or_location %>
    <%= r.category %>
    <%= r.description if r.description %>
  </div>
<% end %>

<% if current_user %>
  <%= link_to "Suggest a New Search", new_recommendation_path, class: "button" %>
<% end %>
