<ul class="vote">
      <li>
        <%= link_to '▲', '#', class: "upvote-rec",
          recommendation: @recommendation.id,
          rating: @recommendation.score %>
      </li>
      <li class="update-rating-<%= @recommendation.id %>"><%= @recommendation.score %></li>
      <li>
        <%= link_to '▼', '#', class: "downvote-rec",
          recommendation: @recommendation.id,
          rating: @recommendation.score %>
      </li>
    </ul>
<%= image_tag "trend.png" if @recommendation.trend_or_location == "Trend" %>
<%= image_tag "location.png" if @recommendation.trend_or_location == "Location" %>
<%= @recommendation.query %>
Submitted by <%= @recommendation.user.username %>
<%= @recommendation.trend_or_location %>
<%= @recommendation.category %>
<%= @recommendation.description if @recommendation.description %>
<% if current_user && @recommendation.user_id == current_user.id %>
  <%= link_to "Edit Suggestion", edit_recommendation_path(@recommendation), class: "button" %>
<% end %>
