<ul class="vote">
      <li>
        <%= link_to '▲', '#', class: "vote-trigger-show",
          recommendation: @recommendation.id,
          rating: @recommendation.score,
          direction: 'like' %>
      </li>
      <li class="update-rating-<%= @recommendation.id %>"><%= @recommendation.score %></li>
      <li>
        <%= link_to '▼', '#', class: "vote-trigger-show",
          recommendation: @recommendation.id,
          rating: @recommendation.score,
          direction: 'dislike' %>
      </li>
    </ul>

<%= @recommendation.query %>
<%= @recommendation.trend_or_location %>
<%= @recommendation.category %>
<%= @recommendation.description if @recommendation.description %>
<% if current_user && @recommendation.user_id == current_user.id %>
  <%= link_to "Edit Suggestion", edit_recommendation_path(@recommendation), class: "button" %>
<% end %>
