<%= form_tag(tweets_path, method: "get") do %>
<%= submit_tag "See Tweets Near Me", name: "local", class: "button" %>
<% end %>

<h4>Current Trends in the US</h4>
<ul class="trends-list">
  <li>All Data (Trend Markers)</li>
  <% @remote_trends.each do |r| %>
  <li class="trend-item"><%= r.keys[0] %></li>
  <% end %>
</ul>
<% if @local_trends.any? %>
<ul class="trends-list">
  <li>Currently Represented (In Tweet Markers)</li>
  <% @local_trends.each do |l| %>
  <li class="trend-item"><%= l %></li>
  <% end %>
<% end %>
</ul>
<div id="map"></div>
<script type="text/javascript">

function initMap() {
  var userLocation = {lat: <%= @lat %>, lng: <%= @lng %>};

  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 39.5, lng: -98.35},
    zoom: 4,
    styles:
    [
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#aee2e0"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#abce83"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#769E72"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#7B8758"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#EBF4A4"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "color": "#8dab68"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#5B5B3F"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ABCE83"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#A4C67D"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#9BBF72"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#EBF4A4"
            }
        ]
    },
    {
        "featureType": "transit",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#87ae79"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#7f2200"
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "visibility": "on"
            },
            {
                "weight": 4.1
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#495421"
            }
        ]
    },
    {
        "featureType": "administrative.neighborhood",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    }
]
  });

  <% @tweets.each_with_index do |tweet, index| %>
  <% if tweet.place.class != Twitter::NullObject %>
  var lat = <%= tweet.geo.coordinates[0] %>
  var lng = <%= tweet.geo.coordinates[1] %>
  // debugger;

  var marker<%= index %> = new google.maps.Marker({
    position: {lat: lat, lng: lng},
    map: map,
    title: 'Tweet',
    icon: '/assets/tweets_maps.png'
  });
  marker<%= index %>.addListener('click', function() {
    infowindow<%= index %>.open(map, marker<%= index %>);
  });

  var infowindow<%= index %> = new google.maps.InfoWindow({
    content: "<%= tweet.text.gsub(/\P{ASCII}/, '').gsub("\n",'') %>",
  });

  <% end %>
  <% end %>



  <% @remote_trends.each_with_index do |trend, index| %>
  var trendLat = <%= trend.values[0][:lat] %>
  var trendLng = <%= trend.values[0][:lng] %>

  var trendMarker<%= index %> = new google.maps.Marker({
    position: { lat: trendLat, lng: trendLng},
    map: map,
    title: 'Trend',
    icon: '/assets/trends_maps.png'
  });
  trendMarker<%= index %>.addListener('click', function() {
    trendInfowindow<%= index %>.open(map, trendMarker<%= index %>);
  });

  var trendInfowindow<%= index %> = new google.maps.InfoWindow({
    content: "<%= trend.keys[0] %>"
  });
  <% end %>

/////////////

  var marker = new google.maps.Marker({
    position: userLocation,
    map: map,
    title: 'You are here'
  });
  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });

  var infowindow = new google.maps.InfoWindow({
    content: 'You are here!'
  });




}

</script>
<script async defer
src= <%= "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_GEOCODING"]}&callback=initMap" %> >
</script>
