<%= form_tag(tweets_path, method: "get") do %>
<%= submit_tag "See Tweets Near Me", name: "local", class: "button" %>
<% end %>


<div id="map"></div>
<script type="text/javascript">

function initMap() {
  var userLocation = {lat: <%= @lat %>, lng: <%= @lng %>};

  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 39.5, lng: -98.35},
    zoom: 4,
    styles:
    [
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#aee2e0"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#abce83"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#769E72"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#7B8758"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#EBF4A4"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "color": "#8dab68"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#5B5B3F"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ABCE83"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#A4C67D"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#9BBF72"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#EBF4A4"
            }
        ]
    },
    {
        "featureType": "transit",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#87ae79"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#7f2200"
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "visibility": "on"
            },
            {
                "weight": 4.1
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#495421"
            }
        ]
    },
    {
        "featureType": "administrative.neighborhood",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    }
]
  });

  <% @tweets.each_with_index do |tweet, index| %>
  <% if tweet.place.class != Twitter::NullObject %>
  var lat = <%= tweet.geo.coordinates[0] %>
  var lng = <%= tweet.geo.coordinates[1] %>
  // debugger;

  var marker<%= index %> = new google.maps.Marker({
    position: {lat: lat, lng: lng},
    map: map,
    title: 'Tweet'
  });
  marker<%= index %>.addListener('click', function() {
    infowindow<%= index %>.open(map, marker<%= index %>);
  });

  var infowindow<%= index %> = new google.maps.InfoWindow({
    content: "<%= tweet.text %>"
  });

  <% end %>
  <% end %>

  var marker = new google.maps.Marker({
    position: userLocation,
    map: map,
    title: 'You are here'
  });
  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });

  var infowindow = new google.maps.InfoWindow({
    content: 'You are here!'
  });


}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ1ZDtg7OufxvTaqEjOwEzKfbu1F7Q2Ss&callback=initMap">
</script>
