<!DOCTYPE html>
<html>
<head>
  <title>TweetMaps</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><%= image_tag "logo.png" %>TweetMaps</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">

        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns trend-search">

              <%= form_tag(results_path, class: "nav-form", method: "get") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search by Hashtag" %>
            </li>
            <li class="search-button-bg">
              <%= submit_tag "Search", name: nil, class: "button" %>

              <% end %>
            </div>
          </div>
        </li>

        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns location-search">
              <%= form_tag(results_path, class: "nav-form", method: "get") do %>
              <%= text_field_tag :location, params[:location], placeholder: "Search by Location" %>
            </li>
            <li class="search-button-bg">
              <%= submit_tag "Search", name: nil, class: "button" %>
              <% end %>
            </div>
          </div>
        </li>
        <%- if current_user -%>
        <li><%= link_to current_user.username, user_path(current_user) %></li>
        <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
  <div class="alert-box <%= key %>">
    <%= value %>
  </div>
  <%- end -%>

  <%= yield %>

  <table class="shareable large-centered columns"%>
    <tr>
      <td><%= facebook_button %></td>
      <td><%= twitter_button %></td>
      <td><%= google_plus_button %></td>
      <td><%= linkedin_button %></td>
      <td><%= reddit_button %></td>
      <td><%= tumblr_button %></td>
    </tr>
  </table>
  <p class="search-header"><%= link_to "See this on GitHub", "https://github.com/nathanielltaylor/tweetmaps" %></p>

  <%= yield :extra_footer %>
</body>


</html>
