<!DOCTYPE html>
<html>
<head>
  <title>TweetMaps</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><%= image_tag "logo.png" %>TweetMaps</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">

        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns trend-search">
              <%= form_tag(tweets_path, class: "nav-form", method: "get") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search by Hashtag" %>
            </li>
            <li>
              <%= submit_tag "Search", name: nil, class: "button" %>
              <% end %>
            </div>
          </div>
        </li>

        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns location-search">
              <%= form_tag(tweets_path, class: "nav-form", method: "get") do %>
              <%= text_field_tag :location, params[:location], placeholder: "Search by Location" %>
            </li>
            <li>
              <%= submit_tag "Search", name: nil, class: "button" %>
              <% end %>
            </div>
          </div>
        </li>

        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <%= button_to "Suggested Searches", recommendations_path, class: "button", :method => :get %>
            </div>
          </div>
        </li>

        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <table width="70%" class="shareable"%>
  <tr>
    <td><%= facebook_button %></td>
    <td><%= twitter_button %></td>
    <td><%= google_plus_button %></td>
    <td><%= linkedin_button %></td>
    <td><%= reddit_button %></td>
    <td><%= tumblr_button %></td>
  </tr>
</table>

  <%= yield :extra_footer %>
</body>
<script async defer
src= <%= "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_GEOCODING"]}&callback=initMap" %> >
</script>
</html>
